# Python cache
*.pyc

# OS X temporary metadata
._*
*.DS_Store

# Wiki page
wiki/

# Results
output/

# vscode
.vscode/settings.json

# .obj
*.obj

# dataset
ShapeNet/

# 论文阅读
3D-R2N2-read.md

# test
test.py

# linecount
line-cout.sh
